body
{
	height: 2020px;
	overflow: scroll;
	background-color: lightgrey;
}

.Top_Nav_Bar
{
	width: 100%; height: 50px;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	border-bottom: 500px;
	border-bottom-color: rgb(190,170,104); 
	border: 3px solid rgb(190,170,104);
	border-top: none;
	border-right: none;
	border-left: none;
}
.Logo_Button
{
	float: left;
	padding-left: 25px;
	display: inline;
	height: 50px;
	width: 75px;
}

.Log_In_Button
{
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
	font-family: "Roboto";
	position: fixed;
	color: rgb(190,170,104);
	right: 20px;
}

.Home_Button
{
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
	font-family: "Roboto";
	position: fixed;
	color: rgb(190,170,104);
	right: 160px;
}

.About_Us_Button
{
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
	font-family: "Roboto";
	position: fixed;
	color: rgb(190,170,104);
	right: 80px;
}

.Bios
{
	overflow: scroll;
}

.Dylan
{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: white;
	top: 100px;
	left: 0;
	display: inline-block;
	background-color: lightgrey;
}

.Dylan_Pic
{
	position: absolute;
	width: 200px;
	height: 300px;
	left: 50px;
	display: inline;
}

.Dylan_Bio
{
	position: absolute;
	font-family: "Roboto";
	color: rgb(190,170,104);
	text-align: center;
	left: 250px;
	top: 70px;
	margin-left: 5%;
	margin-right: 5%;
}

.Jade
{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: white;
	top: 425px;
	display: inline-block;
	background-color: lightgrey;
}

.Jade_Pic
{
	position: absolute;
	width: 350px;
	height: 300px;
	right: 50px;
	float: right;
}

.Jade_Bio
{
	display: inline;
	font-family: "Roboto";
	position: absolute;
	color: rgb(190,170,104);
	text-align: center;
	right : 400px;
	top: 30px;
	margin-left: 5%;
	margin-right: 5%;
}

.Eric
{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: white;
	top: 750px;
	left: 0;
	background-color: lightgrey;
}

.Eric_Pic
{
	position: absolute;
	width: 200px;
	height: 300px;
	left: 50px;
}

.Eric_Bio
{
	display: inline;
	font-family: "Roboto";
	position: absolute;
	color: rgb(190,170,104);
	text-align: center;
	left : 500px;
	left: 250px;
	top: 70px;
	margin-left: 5%;
	margin-right: 5%;
}

.Bryan
{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: white;
	top: 1075px;
	left: 0;
	background-color: lightgrey;
}

.Bryan_Pic
{
	position: absolute;
	width: 250px;
	height: 300px;
	right: 50px;
}

.Bryan_Bio
{
	display: inline;
	font-family: "Roboto";
	position: absolute;
	color: rgb(190,170,104);
	text-align: center;
	right : 400px;
	top: 30px;
	margin-left: 5%;
	margin-right: 5%;
}

.Julio
{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: white;
	top: 1400px;
	left: 0;
	background-color: lightgrey;
}

.Julio_Pic
{
	position: absolute;
	width: 200px;
	height: 300px;
	left: 50px;
}

.Julio_Bio
{
	display: inline;
	font-family: "Roboto";
	position: absolute;
	color: rgb(190,170,104);
	text-align: center;
	left : 500px;
	left: 250px;
	top: 70px;
	margin-left: 5%;
	margin-right: 5%;
}

.Rosa
{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: white;
	top: 1725px;
	left: 0;
	background-color: lightgrey;
}

.Rosa_Pic
{
	position: absolute;
	width: 300px;
	height: 300px;
	right: 50px;
}

.Rosa_Bio
{
	display: inline;
	font-family: "Roboto";
	position: absolute;
	color: rgb(190,170,104);
	text-align: center;
	right : 400px;
	top: 70px;
	margin-left: 5%;
	margin-right: 5%;
}

a:link
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
}

a:hover
{
	background-color: white;
}
