<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us</title>		<!--Log In Title-->
	<link rel="stylesheet" type="text/css" href="About_Us.css">		<!--Link to CSS file-->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>		<!--Link to Roboto Font -->

</head>

<body>
	<div class="Top_Nav_Bar" id="Top_Nav_Bar">

		<a href="Front_Page2.html"><img class="Logo_Button" src="Logo.png"></a>		<!--Logo Home Button-->

		<a href="Log_In.html"><p class="Log_In_Button" id="Log_In_Button">Log In</p></a>		<!--Log In Button-->

		<a href="Front_Page2.html"><p class="Home_Button" id="Home_Button">Home</p></a>		<!--Home Button-->

		<a href="About_Us.html"><p class="About_Us_Button" id="About_Us_Button">About Us</p></a>		<!--About Us Button-->


	</div>		<!--Top Nav Bar Class-->

	<div class="Bios">

	<div class="Dylan">
		<img src="Dylan_Photo.jpg" class="Dylan_Pic">
		<h2 class="Dylan_Bio">Dylan is a senior pursuing a bachelor's in computer science. He is passionate about software development, data pipe-lining, and clean solutions to complicated problems. <br>Originally from Alaska, he loves to climb, ski, and bike in his free time</h2>
	</div>

	<div class="Jade">
		<img src="Jade_Photo.jpg" class="Jade_Pic">
		<h2 class="Jade_Bio">Jade has lived all over the worlds and previously held careers in the finance and fashion design industries. She is currently pursuing a degree at CU Boulder in computer science which is an ideal blend of her passions for mathematics and creative problem solving. In her spare time she trains parkour, and coaches Obstacle Course Racers. Her future goals include finishing her degree, and continued research into Artificial intelligence and Machine Learning.</h2>
	</div>

	<div class="Eric">
		<img src="Eric_Photo.jpg" class="Eric_Pic">
		<h2 class="Eric_Bio">Originally from Texas, I moved to Colorado 2 years ago to learn computer science and Japanese at The University of Colorado Boulder. I chose computer science because I like the endless possibilities that come with the field. My goal is to eventually work with online education.</h2>
	</div>

	<div class="Bryan">
		<img src="Bryan_Photo.jpg" class="Bryan_Pic">
		<h2 class="Bryan_Bio">Munkhbayan "Bryan" Togtokh was born in Ulaanbaatar, Mongolia. He moved to Colorado in 2016 to attend CU Boulder and study Computer Science, and is currently a sophmore. He wants create and develop apps that have a meaningful impact on peoples' lives. In the summer of 2017 he started a company in his native country that helps students improve their educational experience. He wants to later expand his reach to other mediums to try to help people improve their situation by giving them access to the resources they need.</h2>
	</div>

	<div class="Julio">
		<img src="Stand_In.jpg" class="Julio_Pic">
		<h2 class="Julio_Bio">This is where Julio writes about himself</h2>
	</div>

	<div class="Rosa">
		<img src="Rosa_Photo.jpg" class="Rosa_Pic">
		<h2 class="Rosa_Bio">Yun Ting Chen is a senior majoring in Computer science and Economics who is from Taiwan. She loves skiing, hiking and play drums. Her goal would be going to grad school that could combine statistics with computer science or front-end design.</h2>
	</div>

	</div>


</body>

</html>