<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us</title>		<!--Log In Title-->
	<link rel="stylesheet" type="text/css" href="About_Us.css">		<!--Link to CSS file-->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>		<!--Link to Roboto Font -->

</head>

<body>
	<div class="Top_Nav_Bar" id="Top_Nav_Bar">

		<a href="Front_Page2.html"><img class="Logo_Button" src="Logo.png"></a>		<!--Logo Home Button-->

		<a href="Log_In.html"><p class="Log_In_Button" id="Log_In_Button">Log In</p></a>		<!--Log In Button-->

		<a href="Front_Page2.html"><p class="Home_Button" id="Home_Button">Home</p></a>		<!--Home Button-->

		<a href="About_Us.html"><p class="About_Us_Button" id="About_Us_Button">About Us</p></a>		<!--About Us Button-->


	</div>		<!--Top Nav Bar Class-->

	<div class="Bios">

	<div class="Dylan">
		<img src="Stand_In.jpg" class="Dylan_Pic">
		<h2 class="Dylan_Bio">This is where Dylan writes about himself</h2>
	</div>

	<div class="Jade">
		<img src="Stand_In.jpg" class="Jade_Pic">
		<h2 class="Jade_Bio">This is where Jade writes about herself</h2>
	</div>

	<div class="Eric">
		<img src="Stand_In.jpg" class="Eric_Pic">
		<h2 class="Eric_Bio">This is where Eric writes about himself</h2>
	</div>

	<div class="Bryan">
		<img src="Stand_In.jpg" class="Bryan_Pic">
		<h2 class="Bryan_Bio">This is where Bryan writes about himself</h2>
	</div>

	<div class="Julio">
		<img src="Stand_In.jpg" class="Julio_Pic">
		<h2 class="Julio_Bio">This is where Julio writes about himself</h2>
	</div>

	<div class="Rosa">
		<img src="Stand_In.jpg" class="Rosa_Pic">
		<h2 class="Rosa_Bio">This is where Rosa writes about herself</h2>
	</div>

	</div>


</body>

</html>