<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Forgot password reset form</title>
     <link rel="stylesheet" type="text/css" href="forgotpassword.css">

</head>

<body>

<!--   <input id="input" type="checkbox" />-->
<article class="ForgotPassword">
  <div>
<!--     <h1 class="forgotlabel1">Forgot your password?</h1>
 -->    <img src="CU-Buffs.png">
    <!-- <label class="forgotlabel1">Forgot your password?</label>
    <h6 class="h6">Please enter your email address, we will send an email to reset your password. </h6> -->
  </div>
  <div class="div1">
  <label class="forgotlabel1">Forgot your password?</label>
    <h6 class="h6">Please enter your email address, we will send an email to reset your password. </h6>
  <form class="forgotPasswordForm">
    <!-- <div class="forgotpasswordemail--email"> -->
      <label class="forgot__label" for="email">Email</label>
      <input class="forgot__input" id="email" type="email"  placeholder="Email Address" />
    </div>
    
    <!-- <div class="SignUpField SignUpField--pass">
      <label class="SignUpField__label" for="pass">Password</label>
      <input class="SignUpField__input" id="pass" type="password" />
    </div> -->
    <a href="Log_In.html"><button type="submit" class="forgot__submit">Send</button></a>
  </form>
</article>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

  

    <script  src="js/forgotpass.js"></script>




</body>

</html>
