<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Front Page</title>		<!--Log In Title-->
	<link rel="stylesheet" type="text/css" href="Front_Page.css">		<!--Link to CSS file-->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>		<!--Link to Roboto Font -->

</head>

<body>
    <div class="Top_Nav_Bar" id="Top_Nav_Bar">

        <a href="Front_Page.html"><img class="Logo_Button" src="Logo.png"></a>		<!--Logo Home Button-->

        <a href="Log_In.html"><p class="Log_In_Button" id="Logo_Button">Log In</p></a>		<!--Log In Button-->

        <a href="Front_Page.html"><p class="Home_Button" id="Home_Button">Home</p></a>		<!--Home Button-->

        <a href="About_Us.html"><p class="About_Us_Button" id="About_Us_Button">About Us</p></a>		<!--About Us Button-->


    </div>		<!--Top Nav Bar Class-->
    <form action="/addClass" method="post">
        <div class="Left_Side_Bar" id="Left_Side_Bar">
            <!--Left Side Bar-->
            <h2><p>Please select up to 5 classes.</p></h2>
            <form action="/addClass" method="post">
                <button type="submit">Submit Class selection</button>
            </form>
        </div>

        <div class="Right_Side_Bar" id="Right_Side_Bar">
            <!--Right Side Bar-->

        </div>

        <dir class="HeadLineBackground">
            <img class="HeadLineBackgroundImage" id="HeadLineBackgroundImage" src="HeadLineBackground.jpg">
        </dir>

        <div class="Headline" id="Headline">

            <h1 class="Name" id="Name">Computer Science Study Group</h1>

            <h2 class="Slogan" id="Slogan">Collaboration | Communication | Computation</h2>

        </div>

        <div class="Class_Options" id="Class_Options">

            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="3308">
                        CSCI - 3308
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="3002">
                        CSCI - 3002
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="2824">
                        CSCI - 2824
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="2400">
                        CSCI - 2400
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="1300">
                        CSCI - 1300
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="2270">
                        CSCI - 2270
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="3104">
                        CSCI - 3104
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="3155">
                        CSCI - 3155
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="3010">
                        CSCI - 3010
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="3287">
                        CSCI - 3287
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="3702">
                        CSCI - 3702
                    </h1>
                </div>
            </a>
            <a href="">
                <div class="Options" id="Options">
                    <h1 id="Class_Name">
                        <input type="radio" id="4229">
                        CSCI - 4229
                    </h1>
                </div>
            </a>

        </div>
    </form>
</body>

</html>