<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Front Page</title>		<!--Log In Title-->
	<link rel="stylesheet" type="text/css" href="Front_Page.css">		<!--Link to CSS file-->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>		<!--Link to Roboto Font -->

</head>

<body>
    <div class="Top_Nav_Bar" id="Top_Nav_Bar">

        <a href="Front_Page.html"><img class="Logo_Button" src="Logo.png"></a>		<!--Logo Home Button-->

        <a href="Front_Page2.html"><p class="Log_Out_Button">Log Out</p></a>

    </div>		<!--Top Nav Bar Class-->
    <div class="Left_Side_Bar" id="Left_Side_Bar">
        <!--Left Side Bar-->

        <a class="yourClass" href="Personal_Page.html"><h2>Your Classes</h2></a>

        <h2 class="SelClass">Select a Class to View Study Groups:</h2>

        <a href="Add_Group.html"><div class="AddButton"><h2 class="AddText">Add Class</h2></div></a>

        <h2 class="CalSel">To View Calendar Click Image Below</h2>
        <form method="post" action="/viewCalendar">
            <div>
                <input class="CalButton" type="image" src="calendar-icon.jpg" style="width:200px;height:200px" >
            </div>
        </form>

    </div>


        <dir class="HeadLineBackground">
            <img class="HeadLineBackgroundImage" id="HeadLineBackgroundImage" src="HeadLineBackground.jpg">
        </dir>

        <div class="Headline" id="Headline">

            <h1 class="Name" id="Name">Computer Science Study Group</h1>

            <h2 class="Slogan" id="Slogan">Collaboration | Communication | Computation</h2>

        </div>

        <div class="Class_Options" id="Class_Options">
            <form method="post" action="/viewClass/1200">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 1200" >
                </div>
            </form>
            <form method="post" action="/viewClass/1300">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 1300">
                </div>
            </form>
            <form method="post" action="/viewClass/1320">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 1320">
                </div>
            </form>
            <form method="post" action="/viewClass/2270">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 2270">
                </div>
            </form>
            <form method="post" action="/viewClass/2400">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 2400">
                </div>
            </form>
            <form method="post" action="/viewClass/2820">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 2820">
                </div>
            </form>
            <form method="post" action="/viewClass/2824">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 2824">
                </div>
            </form>
            <form method="post" action="/viewClass/3002">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3002">
                </div>
            </form>
            <form method="post" action="/viewClass/3010">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3010">
                </div>
            </form>
            <form method="post" action="/viewClass/3022">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3022">
                </div>
            </form>
            <form method="post" action="/viewClass/3104">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3104">
                </div>
            </form>
            <form method="post" action="/viewClass/3155">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3155">
                </div>
            </form>
            <form method="post" action="/viewClass/3202">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3202">
                </div>
            </form>
            <form method="post" action="/viewClass/3287">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3287">
                </div>
            </form>
            <form method="post" action="/viewClass/3308">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3308">
                </div>
            </form>
            <form method="post" action="/viewClass/3656">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3656">
                </div>
            </form>
            <form method="post" action="/viewClass/3753">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 3753">
                </div>
            </form>
        </div>
</body>

</html>