.calendarTable {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
    position: relative;
}

.calendarTd, .calendarTh {
  border: 1px solid #999;
  padding: 0.5rem;
}

.calendarTh {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.calendarTd {
  vertical-align: top;
  text-align: left;
  height: 50px;
}

.hoverOver:hover, td{
  background-color: "black";
  color: "white";
}

table
{
  height: 500px;
  width: 360px;
  text-align: center;
}