<!DOCTYPE html>
<html>

<head>
	<title>Your Classes</title>
	<link rel="stylesheet" type="text/css" href="Personal_Page.css">		<!--Link to CSS file-->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>		<!--Link to Roboto Font -->

</head>

<body>
	<div class="Top_Nav_Bar" id="Top_Nav_Bar">

        <a href="Front_Page.html"><img class="Logo_Button" src="Logo.png"></a>		<!--Logo Home Button-->

        <a href="Front_Page2.html"><p class="Log_Out_Button">Log Out</p></a>

    </div>		<!--Top Nav Bar Class-->

    <div class="Left_Side_Bar" id="Left_Side_Bar">		<!--Left Side Bar-->
    	<div class="Notif_Bar">
    		<h2 class="Notifications">Notifications</h2>
    	</div>
    </div>

    <dir class="HeadLineBackground">
            <img class="HeadLineBackgroundImage" id="HeadLineBackgroundImage" src="HeadLineBackground.jpg">
        </dir>

        <div class="Headline" id="Headline">

            <h1 class="Name" id="Name">Your Classes</h1>

            <h2 class="Slogan" id="Slogan">Collaboration | Communication | Computation</h2>

        </div>

    <div class="Class_Options" id="Class_Options">
            <form method="post" action="/viewClass/1200">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 1200" >
                </div>
            </form>
            <form method="post" action="/viewClass/1300">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 1300">
                </div>
            </form>
            <form method="post" action="/viewClass/1320">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 1320">
                </div>
            </form>
            <form method="post" action="/viewClass/2270">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 2270">
                </div>
            </form>
            <form method="post" action="/viewClass/2400">
                <div id="Options">
                    <input type="submit" class="Options" id="Class_Name" value="CSCI - 2400">
                </div>
            </form>
            <a href="add_class.html"><div class="Options">
                <p class="AddText">Add Class</p>
            </div></a>
        </div>

    <div class="Right_Nav_Bar" id="Right_Nav_Bar">
    	<!--Calendar Goes Here-->
    	<div class="Calendar_Space">
    		<h2 class="Cal">Calendar</h2>
    	</div>
    </div>

</body>

</html>