html {
  height: 100%;
}
img{
  position: absolute;
  top: 0px;
  left: 40%;
	height: 200px;
	width: 250px;
/*  margin-bottom: 60px;
*/}
body{
	background-color: #CEB780;
	opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  height: 100%;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;


}

.div1{
  margin-top: 50px;
}

.forgotlabel1{
	white-space: nowrap;
	color: #fff;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.h6{
	color: #fff;
}

.forgot__label {
  display: block;
  color: #fff;
}
.forgot__input {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  width: 100%;
  background: transparent;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.4) inset;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.4) inset;
  -webkit-transition: border .15s ease-out;
  transition: border .15s ease-out;
  border: 2px solid #fff;
}
.forgot__input:focus {
  outline: none;
  border-bottom-width: 5px;
}

.forgot__submit {
  background-color: #fff;
  opacity: 0.5;
  border: 2px solid #fff;
  color: #000;
  font-size: 20px;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

